<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>
    <context-param>
        <param-name>SITEMAP_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/siteMap.properties</param-value>
    </context-param>
    <context-param>
        <param-name>AUTHENTICATION_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/authentication.properties</param-value>
    </context-param>
    <context-param>
        <param-name>AUTHORIZATION_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/authorization.properties</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.hqt.happyhostel.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleRedirectFilter</filter-name>
        <filter-class>com.hqt.happyhostel.filters.RoleRedirectFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.hqt.happyhostel.filters.AuthorizationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RenterRegisterFilter</filter-name>
        <filter-class>com.hqt.happyhostel.filters.RenterRegisterFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>com.hqt.happyhostel.filters.DispatcherFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.hqt.happyhostel.filters.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleRedirectFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RenterRegisterFilter</filter-name>
        <url-pattern>/verify-renter-page</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RenterRegisterFilter</filter-name>
        <url-pattern>/confirm-room-info-page</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RenterRegisterFilter</filter-name>
        <url-pattern>/input-account-information-page</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
</web-app>