@import "./_common-style/navbar";
@import "./_common-style/sidebar";
@import "./_common-style/footer";

a {
  text-decoration: none;
}

.navbar {
  .title {

    h2 {
      display: inline-block;
      margin-left: 80%;
    }
  }

  .logout {
    a {
      text-decoration: none;
      margin-left: 70%;

      button {
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: rgba($color: #979595, $alpha: 1.0);
        color: #5847f1;
      }
    }
  }


}

.content {
  min-height: 650px;

  .content-left {
    background-color: rgb(237, 235, 235);
    text-align: center;
    padding-top: 50px;

    a {

      button {
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        color: #5847f1;
        border: none;
        margin: 5px;
        width: 200px;
        height: 40px;
        border-radius: 8px;
      }
    }
  }

  .content-right {
    text-align: center;

    table {
      width: 500px;
      margin: auto;

      td {
        border: 1px solid black;
      }

      th {
        border: 1px solid black;
      }
    }
  }
}