@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

body {
  overflow-x: hidden;
}
.dashboard{
  display: block;
}
.dropdown{
  display: none;
}
.content {
  width: 80%;
  min-height: calc(100vh - 80px);

  .hidden_notification{
    display: none;
  }
  .display_notification{
    position: absolute;
    display: inline-block;
    font-size: 18px;
    width: fit-content;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 4s linear forwards;
    right: 5px;
    top: 5px;
  }
  .progress{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #529bdb, #3250bf);
    border-radius: 4px;
    animation: progress 3s .25s linear forwards;
  }

  @keyframes fade{
    5%{
      opacity: 1;
      visibility: visible;
      transform: translate(0px);
    }
    90%{
      opacity: 1;
      transform: translateY(0px);
    }
    95%{
      opacity: 0;
    }
    100%{
      opacity: 0;
      transform: translateY(-30px);
    }
  }
  @keyframes progress{
    to{
      width: calc(100% - 10px);
    }
  }

  .div-controll-form {
    width: 50%;
    margin: 100px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;

    h1 {
      text-align: center;
      padding: 10px;
    }

    .form {
      .form-item {
        margin: 5px;

        #form-item-input-4 {
          line-height: 18px;
          width: 100%;
          height: 40px;
          border: 1px solid #c4c4c4;
          border-radius: 6px;
          font-size: 18px;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 10px;
        }

        input {
          line-height: 20px;
          width: 100%;
          height: 40px;
          border: none;
          font-size: 18px;
          padding-left: 20px;
          border-bottom: 1px solid rgb(197, 195, 195);
        }

        p {
          width: 0%;
          transition: 0.5s;
        }

        input:focus ~ p {
          width: 100%;
          outline: none;
          border-bottom: none;
          border-top: 2px solid #5846f8;
        }

        span {
          padding-left: 20px;
          color: red;
        }
      }

      #form-item-submit {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: #1900ff;
        color: aliceblue;
        font-size: large;
        margin-top: 10px;
      }

      #form-item-submit:hover {
        background-color: #1900ff;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 0;
    width: 100%;
    min-height: calc(100vh - 80px);
    .div-controll-form {
      width: 80%;
    }
  }
  .dashboard{
    display: none;
  }
  .dropdown{
    display: block;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}