@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  overflow-x: hidden;
}
.dashboard{
  display: block;
}
.dropdown{
  display: none;
}
.content {
  min-height: calc(100vh - 80px);
  margin: 0;
  padding: 0;
  width: 80%;
  position: relative;
  .hidden_notification{
    display: none;
  }
  .display_notification{
    position: absolute;
    display: inline-block;
    font-size: 18px;
    width: fit-content;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 4s linear forwards;
    right: 5px;
    top: 5px;
  }
  .progress{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #529bdb, #3250bf);
    border-radius: 4px;
    animation: progress 3s .25s linear forwards;
  }

  @keyframes fade{
    5%{
      opacity: 1;
      visibility: visible;
      transform: translate(0px);
    }
    90%{
      opacity: 1;
      transform: translateY(0px);
    }
    95%{
      opacity: 0;
    }
    100%{
      opacity: 0;
      transform: translateY(-30px);
    }
  }
  @keyframes progress{
    to{
      width: calc(100% - 10px);
    }
  }
  #notification {
    text-align: right;
    width: 90%;
    height: 30px;

    p {
      font-size: 30px;
      margin-left: 10px;
      display: block;
      width: fit-content;
      line-height: 30px;
      color: blue;
    }
  }

  h1 {
    display: block;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 550;
  }

  #invoice-cover {
    width: 60%;
    min-height: 340px;
    border-radius: 8px;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px 50px;

    h2 {
      font-size: 24px;
      color: blue;
      font-weight: 500;
      text-align: center;
    }

    h3 {
      font-size: 20px;
      color: red;
      text-align: center;
    }

    #water {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      p {
        font-size: 20px;
      }
    }

    #electric {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      p {
        font-size: 20px;
      }
    }

    p {
      font-size: 20px;
    }

    #action1 {
      display: flex;
      justify-content: space-between;

      #action0 {
        button {
          width: fit-content;
          height: fit-content;
          padding: 10px 15px;
          line-height: 20px;
          border: 1px solid red;
          text-align: center;
          font-size: 20px;
          border-radius: 8px;
        }

        button:hover {
          width: fit-content;
          height: fit-content;
          padding: 10px 15px;
          line-height: 20px;
          border: 1px solid red;
          text-align: center;
          font-size: 20px;
          border-radius: 8px;
          color: rgb(255, 0, 0);
        }
      }

      #action {
        button {
          width: fit-content;
          height: fit-content;
          padding: 10px 15px;
          line-height: 20px;
          border: 1px solid rgb(25, 0, 255);
          text-align: center;
          font-size: 20px;
          border-radius: 8px;
        }

        button:hover {
          width: fit-content;
          height: fit-content;
          padding: 10px 15px;
          line-height: 20px;
          border: 1px solid rgb(25, 0, 255);
          text-align: center;
          font-size: 20px;
          border-radius: 8px;
          color: blue;
        }
      }
    }
  }

  .table {
    width: 90%;
    margin: 50px auto;

    thead {
      tr {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr;
        border-style: none;

        th {
          padding: 3px 0 3px 0;
          font-size: 22px;
          color: black;
          text-align: center;
          border: 1px solid black;
        }
      }
    }

    tbody {
      tr {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr;

        td {
          color: black;
          padding: 3px 0 3px 0;
          text-align: center;
          border: 1px solid black;
          font-size: 20px;
        }
      }
    }
  }
  .export_bill_button {
    margin: 0 0 10px 10px;
    border-radius: 4px;
    background-color: #08c708;
    padding: 10px;
    text-align: center;
    height: fit-content;
    width: fit-content;

    a {
      font-size: 18px;
      text-decoration: none;
      color: #FFFFFF;
    }
  }

    .export_bill_button:hover {
      margin: 0 0 10px 10px;
      border-radius: 4px;
      background-color: green;
      padding: 10px;
      text-align: center;
      height: fit-content;
      width: fit-content;

      a {
        font-size: 18px;
        text-decoration: none;
        color: #FFFFFF;
      }
    }
}

@media screen and (max-width: 1280px) {
  .content {
    .table {
      width: 95%;
      margin: 50px auto;

      thead {
        tr {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr;
          border-style: none;

          th {
            font-size: 22px;
            color: black;
            text-align: center;
            border: 1px solid black;
          }
        }
      }

      tbody {
        tr {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr;

          td {
            color: black;
            text-align: center;
            border: 1px solid black;
            font-size: 20px;
          }
        }
      }
    }
    .export_bill_button{
      margin: 0 0 10px 10px;
      border-radius: 4px;
      background-color: #08c708;
      padding: 10px;
      text-align: center;
      height: fit-content;
      width: fit-content;
      a{
        font-size: 18px;
        color: #FFFFFF;
        text-decoration: none;
      }
    }
    .export_bill_button:hover{
      margin: 0 0 10px 10px;
      border-radius: 4px;
      background-color: green;
      padding: 10px;
      text-align: center;
      height: fit-content;
      width: fit-content;
      a{
        font-size: 18px;
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .content{
    width: 100%;
    padding: 0;
    min-height: calc(100vh - 80px);
  }
  .dashboard{
    display: none;
  }
  .dropdown{
    display: block;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}