// Footer
footer {
  background-color: var(--footer-background-color);
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

.copyright-wrapper {
  $copyright-height: 80px;
  height: $copyright-height;

  .copyright-logo {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
    }
  }

  .copyright-content {
    line-height: $copyright-height;
    color: #a9b3bb;
  }
}
