// Login navbar
.main-nav {
  height: var(--navbar-height);
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;

  // Logo
  .main-nav__logo {
    height: var(--navbar-height);
    display: flex;
    align-items: center;
  }

  .main-nav__logo-img {
    width: 132px;
  }

  // Title
  .main-nav__title {
    text-align: end;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
  }
}

// Content CSS
.register-content {
  min-height: var(--min-body-height);
}

// Turn back
.turn-back__link {
  font-size: 1.6rem;

  &:hover {
    color: var(--primary-color);
  }
}

.register-form {
  background-color: var(--white-color);
  padding: 16px 16px;
  margin-top: 24px;
  border-radius: 6px;
  box-shadow: var(--box-shadow-border-model);

  .form-title {
    color: #009a13;
  }

  .form-subtitle {
    line-height: 2rem;

    span {
      color: red;
    }
  }

  .form-error-message {
    line-height: 2.2rem;
  }

  .more-action {
    margin-bottom: 16px;

    .form-group {
      display: flex;
      align-items: center;
    }

    .more-action__checkbox {
      width: 16px;
      height: 16px;
    }

    .more-action__checkbox-title {
      font-weight: 400;
      margin-left: 6px;
      margin-bottom: 0;
      font-size: 1.6rem;
    }

    .more-action__forgot-link {
      display: block;
      text-align: right;
      color: var(--primary-color);
      font-size: 1.8rem;

      &:hover {
        color: var(--button-active-color);
      }
    }
  }

  // Submit btn
  .form-submit {
    width: 100%;
    background-color: #20df7f;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 10px;

    &:hover {
      background-color: #08f67f;
    }
  }

  // Other links
  .form-other-link {
    text-align: center;
    a {
      color: #ff6a00;

      &:hover {
        color: #ff8d3b;
      }
    }
  }
}

// Footer
footer {
  background-color: var(--footer-background-color);
}

.copyright-wrapper {
  $copyright-height: 80px;
  height: $copyright-height;

  .copyright-content {
    line-height: $copyright-height;
    color: #a9b3bb;
  }
}
