.dashboard {
  width: 30%;
  min-height: 900px;
  background-color: #F7F6FB;
  padding: 0px;

  .infor-top {
    text-align: center;

    img {
      width: 65px;
      border-radius: 50%;
    }

    h3 {
      font-size: 25px;
      color: #000000;
      font-weight: 300;
      font-family: serif;
    }

    p {

      color: #000000;
      font-size: 20px;
    }

    margin:30px 0px 50px 0px;
  }

  .card {
    border: none;


    .card-header {
      background-color: #F7F6FB;

      button {
        font-size: 22px;
        width: 100%;
        text-align: left;
        background-color: #F7F6FB;
        font-weight: 500;
        padding-left: 15%;

        i {
          padding-left: 10px;
        }

        img {
          height: 22px;
          width: 24px;
          margin-bottom: 6px;
        }
      }
    }

    .card-body {
      background-color: #F7F6FB;

      h3 {
        a {
          color: rgb(0, 0, 0);
          text-decoration: none;
          margin-left: 20%;
          font-size: 22px;
          font-weight: 400;
        }

        a:hover {
          color: rgb(4, 4, 255);
          text-decoration: none;
          margin-left: 20%;
          font-size: 23px;
          font-weight: 400;
        }
      }
    }
  }
}