.dashboard {
  width: 20%;
  min-height: 100vh;
  background-color: #F7F6FB;
  padding: 0px;

  .infor-top {
    text-align: center;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 10px 0px 10px 0px;
    }

    h3 {
      font-size: 22px;
      color: #000000;
      font-weight: 300;
      font-family: serif;
    }

    p {
      color: #000000;
      font-size: 18px;

    }

    margin:20px 0px 20px 0px;
  }

  .card {
    border: none;


    .card-header {
      background-color: #F7F6FB;

      button {
        font-size: 22px;
        width: 100%;
        text-align: left;
        background-color: #F7F6FB;
        font-weight: 500;
        padding-left: 15%;

        i {
          padding-left: 10px;
        }

        img {
          height: 22px;
          width: 22px;
          margin-bottom: 5px;
          border-radius: 50%;
        }
      }
    }

    .card-body {
      background-color: #F7F6FB;

      h3 {
        a {
          color: rgb(0, 0, 0);
          text-decoration: none;
          margin-left: 20%;
          font-size: 20px;
          font-weight: 450;
          transition: 0.1s;
        }

        a:hover {
          color: rgb(4, 4, 255);
          text-decoration: none;
          margin-left: 20%;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
}