.dashboard {
  width: 20%;
  min-height: calc(100vh - 80px);
  background-color: #F7F6FB;
  padding: 0;

  .infor-top {
    text-align: center;
    margin: 20px 0px 10px 0px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 10px 0px 10px 0px;
    }

    h3 {
      font-size: 19px;
      color: #000000;
      font-weight: 300;
      font-family: serif;
    }

    p {
      color: #000000;
      font-size: 18px;

    }
  }

  .card {
    border: none;

    .card-body {
      background-color: #F7F6FB;

      .sidebar-item {
        width: 100%;
        text-align: left;
        padding:15px 0 15px 15px;
        background-color: #F7F6FB;
        border-radius: 4px;
        margin-bottom: 5px;
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr 6fr;
        column-gap: 5px;
        i{
          font-size: 18px;
        }
        a {
          color: black;
          font-size: 18px;
          text-decoration: none;
          line-height: 18px;
        }
      }
      .sidebar-item:hover {
        background-color: #dddddd;
        i{
          color: blue;
        }
        a{
          color: blue;
        }
      }
      .active{
        background-color: #dddddd;
        i{
          color: blue;
        }
        a{
          color: blue;
        }
      }
    }
  }
}