@import "../_common-style/navbar";
@import "../_common-style/sidebar";
@import "../_common-style/footer";

// Body
.content-group {
  min-height: var(--min-body-height);
  padding-bottom: 24px;

  .content-body {
    padding: 16px 16px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}

// Hostel Detail
// Hostel Header
.hostel-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.hostel-infor {
  flex: 1;
}

.hostel-name {
  font-size: 2.8rem;
  font-weight: 700;
}

.hostel-address {
  font-size: 1.6rem;
  margin: 8px 0 16px 0;
}

.hostel-actions {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.hostel-actions__btn {
  display: block;
  width: 140px;
  padding: 12px 12px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  border-radius: 6px;
  background-color: var(--white-color);

  &:first-child {
    margin-bottom: 8px;
  }
}

.hostel-actions__btn-infrastructure {
  color: #a760ff;
  border: 0.5px solid #a760ff;

  &:hover {
    color: var(--white-color);
    background-color: #a760ff;
  }
}

.hostel-actions__btn-room {
  color: var(--primary-color) !important;
  border: 0.5px solid var(--primary-color);

  &:hover {
    color: var(--white-color) !important;
    background-color: var(--primary-color);
  }
}

// Hostel detail
// Rooms table
.hostel-rooms {
  overflow-x: auto;
}

.hostel-rooms,
.hostel-services {
  padding: 16px 16px;
  border-radius: 4px;
  border: 0.5px solid rgb(0, 183, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.rooms-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: 600;
}

.rooms-title {
  color: rgb(0, 128, 255);
}

.rooms-total {
  color: #6bcb77;

  span {
    color: rgb(231, 0, 0);
  }
}

// Rooms table
.rooms-table {
  width: 100%;
  min-width: 650px;
}

.dataTables_length,
.dataTables_filter {
  margin-bottom: 16px;
}

.rooms-table {
  .room-detail-link {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: rgb(255, 145, 0);

    &:hover {
      opacity: 0.6;
      text-decoration: underline;
    }
  }
}

// Update services
.form-group {
  .form-control {
    margin: 0;
  }

  .form-message {
    margin: 12px 0 0 0;
  }
}

// Services price
.services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.service-title {
  font-size: 2rem;
  font-weight: 600;
  color: #4e944f;
}

.service-update-btn {
  padding: 6px 6px;
  border-radius: 4px;
  background-color: rgb(215, 11, 11);
  color: var(--white-color);

  &:hover {
    opacity: 0.8;
  }
}

.services-date {
  font-weight: 600;
  padding-bottom: 8px;
  margin-bottom: 12px;
  border-bottom: 0.5px solid #ccc;

  span {
    font-weight: 400;
  }
}

.service-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.service-name {
  font-weight: 500;
}

// Add service modal
.addServiceModal-action {
  justify-content: space-between;

  .btn {
    font-weight: 600;
  }

  .back-btn {
    background-color: var(--white-color);
    border: 1px solid #ff1700;
    color: #ff1700;

    &:hover {
      background-color: #ff1700;
      color: var(--white-color);
    }
  }

  .create-btn {
    background-color: var(--primary-color);
    color: var(--white-color);

    &:hover {
      border: 1px solid var(--primary-color);
      background-color: var(--white-color);
      color: var(--primary-color);
    }
  }
}

// Update service waring modal
.updateServicesModel-label {
  color: #ff8d29;
}

.updateServicesModel-content {
  color: #ff1700;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 2.8rem;
  font-size: 1.8rem;
}

.updateServicesModel-action {
  justify-content: space-between;

  a,
  button {
    padding: 4px 12px !important;
  }
}

// Responsive mobile
@media (max-width: 576px) {
  .hostel-actions {
    .hostel-add-room-btn {
      width: 110px;
      font-size: 1.6rem;
      font-weight: 600;
      padding: 12px 8px;
      margin-left: 16px;
    }
  }
}

// Upload file
.upload-file-section {
  .upload-wrapper {
    padding: 16px 16px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    .form-control {
      font-size: 2rem;
    }
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 8px 0 16px 0;
    letter-spacing: 0.02em;
  }

  h3.success {
    color: #008000;
  }

  h3.failed {
    color: rgb(208, 0, 0);
  }
}
