.main-nav {
  height: var(--navbar-height);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.main-nav .main-nav__logo {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
}
.main-nav .main-nav__logo-img {
  width: 132px;
}
.main-nav .wrapper {
  display: flex;
  align-items: center;
}

.main-nav__label {
  flex: 1;
}
.main-nav__label .title {
  font-size: 2.4rem;
  color: var(--primary-color);
}

.main-nav__action {
  display: flex;
  align-items: center;
}
.main-nav__action .notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 36px;
  height: 36px;
  margin-right: 24px;
  cursor: pointer;
}
.main-nav__action .notification:hover .notification__icon {
  color: rgb(244, 244, 244);
  background-color: rgb(119, 119, 119);
}
.main-nav__action .notification .notification__icon {
  font-size: 1.8rem;
  border-radius: 50%;
  padding: 9px 10px;
  color: #4f4f4f;
  background-color: #ccc;
}
.main-nav__action .notification .notification__warning {
  position: absolute;
  top: -8px;
  right: -6px;
  width: 20px;
  height: 20px;
  background-color: #d90000;
  color: var(--white-color);
  border-radius: 50%;
  text-align: center;
  display: none;
}
.main-nav__action .notification .notification__warning i {
  font-size: 1.2rem;
}
.main-nav__action .notification .notification__warning.active {
  display: block;
}
.main-nav__action .notification.active .notification__icon {
  color: var(--white-color);
  background-color: #4ca9ff;
}
.main-nav__action .profile {
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 8px;
  cursor: pointer;
}
.main-nav__action .profile .profile__infor {
  margin-right: 8px;
  text-align: right;
}
.main-nav__action .profile .profile__infor .infor__name {
  font-size: 1.6rem;
  margin-bottom: 0;
}
.main-nav__action .profile .profile__infor .infor__role {
  font-size: 1.4rem;
}
.main-nav__action .profile .profile__avatar .avatar__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #3b89fc;
}
.main-nav__action .profile:hover {
  background-color: #dad9d9;
}
.main-nav__action .profile.active {
  background-color: #399fff;
}
.main-nav__action .profile.active .profile__infor {
  color: var(--white-color);
}
.main-nav__action .profile.active .avatar__img {
  border-color: var(--white-color);
}
.main-nav__action .menu-sidebar-btn {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}
.main-nav__action .menu-sidebar-btn i {
  color: #4f4f4f;
  font-size: 1.8rem;
}
.main-nav__action .menu-sidebar-btn:hover {
  background-color: rgb(119, 119, 119);
}
.main-nav__action .menu-sidebar-btn:hover i {
  color: rgb(244, 244, 244);
}
.main-nav__action .menu-sidebar-btn.active {
  background-color: #4ca9ff;
}
.main-nav__action .menu-sidebar-btn.active i {
  color: var(--white-color);
}

.main-nav-body {
  position: relative;
}
.main-nav-body .notification__list {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  z-index: 10;
  max-width: 400px;
  padding: 16px 0 8px 0;
  border-radius: 6px;
  background-color: var(--white-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: default;
  display: none;
  animation: fadeIn 0.15s linear;
}
.main-nav-body .notification__list .notification__list-header {
  display: flex;
  align-items: center;
  padding: 0 16px 8px 16px;
}
.main-nav-body .notification__list .notification__list-header h3 {
  flex: 1;
  font-size: 2.4rem;
  margin-bottom: 0;
}
.main-nav-body .notification__list .notification__list-header a {
  color: var(--primary-color);
  display: block;
  padding: 8px 0px 8px 8px;
}
.main-nav-body .notification__list .notification__list-header a:hover {
  color: #74bcff;
}
.main-nav-body .notification__list .notification__list-items {
  list-style: none;
  padding-left: 0;
  max-height: 80vh;
  overflow-y: auto;
}
.main-nav-body .notification__list .notification__list-items .notification__item {
  position: relative;
}
.main-nav-body .notification__list .notification__list-items .notification__item .marker {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
}
.main-nav-body .notification__list .notification__list-items .notification__item a {
  display: flex;
  padding: 8px 16px;
}
.main-nav-body .notification__list .notification__list-items .notification__item a:hover {
  background-color: rgb(228, 228, 228);
}
.main-nav-body .notification__list .notification__list-items .notification__item .notification__item-icon {
  font-size: 4.8rem;
  padding-right: 16px;
}
.main-nav-body .notification__list .notification__list-items .notification__item .notification__item-icon.report {
  color: #dc3545;
}
.main-nav-body .notification__list .notification__list-items .notification__item .notification__item-icon.success {
  color: #3de600;
}
.main-nav-body .notification__list .notification__list-items .notification__item .notification__item-info {
  flex: 1;
}
.main-nav-body .notification__list .notification__list-items .notification__item .notification__item-info .notification__item-name {
  display: flex;
  font-weight: 500;
  font-size: 1.8rem;
}
.main-nav-body .notification__list .notification__list-items .notification__item .notification__item-info .notification__item-name .room {
  flex: 1;
}
.main-nav-body .notification__list .notification__list-items .notification__item .notification__item-info .notification__item-name .hostel span {
  font-weight: 400;
  font-size: 1.6rem;
}
.main-nav-body .notification__list .notification__list-items .notification__item .notification__item-info .notification__item-content {
  font-size: 1.6rem;
  line-height: 2.2rem;
  max-height: 4.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 4px 0;
}
.main-nav-body .notification__list .notification__list-items .notification__item .notification__item-info .notification__item-time {
  font-size: 1.4rem;
  color: var(--primary-color);
}
.main-nav-body .notification__list .notification__list-items .notification__item.readed .marker {
  display: none;
}
.main-nav-body .notification__list .notification__list-items .notification__item.readed .notification__item-time {
  color: var(--text-color);
}
.main-nav-body .profile__actions {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  z-index: 10;
  width: 300px;
  padding: 8px 4px;
  border-radius: 6px;
  background-color: var(--white-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: default;
  animation: fadeIn 0.15s linear;
  display: none;
}
.main-nav-body .profile__actions .spacer {
  border-top: 1px solid #ccc;
}
.main-nav-body .profile__actions a {
  display: flex;
  padding: 10px 8px;
  border-radius: 6px;
  align-items: center;
}
.main-nav-body .profile__actions a:hover {
  background-color: rgb(237, 237, 237);
}
.main-nav-body .profile__actions a .action__image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background-color: #ccc;
}
.main-nav-body .profile__actions a .action__image img {
  width: 100%;
  height: 100%;
}
.main-nav-body .profile__actions a .action__image i {
  font-size: 2rem;
}
.main-nav-body .profile__actions a .action__content {
  flex: 1;
  font-size: 1.8rem;
  line-height: 2rem;
}
.main-nav-body .profile__actions a .action__content .title {
  font-weight: 600;
}
.main-nav-body .profile__actions a .action__content .subtitle {
  font-size: 1.6rem;
}
.main-nav-body .profile__actions .action__view-profile-link .action__image {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  .main-nav__label .title {
    display: none;
  }

  .profile .profile__infor {
    display: none;
  }
}
@media (max-width: 992px) {
  .main-nav__action .notification {
    margin-right: 12px;
  }
  .main-nav__action .menu-sidebar-btn {
    display: flex;
  }
}
.side-bar {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.side-bar .group-option.active .group-option__link {
  color: var(--primary-color);
  background-color: #eaf5ff;
}
.side-bar .group-option__link {
  display: flex;
  height: 54px;
  width: 100%;
  align-items: center;
  color: #878787;
  margin: 16px 0;
  padding-left: 20px;
}
.side-bar .group-option__link:nth-child(1) {
  margin-top: 0;
}
.side-bar .group-option__link:hover {
  color: var(--primary-color);
  background-color: #eaf5ff;
}
.side-bar .group-option__icon {
  font-size: 2rem;
  width: 40px;
}
.side-bar .group-option__label {
  font-size: 1.6rem;
  font-weight: 600;
}

@media (max-width: 992px) {
  .side-bar {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: var(--white-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    top: 1px;
    left: 0;
    width: 100%;
    height: 270px;
    overflow: auto;
    border-right: 0;
    padding-top: 0px !important;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation: slipDown 0.2s linear;
  }
  .side-bar .group-option__link {
    margin: 0;
  }
}
@media (min-width: 993px) {
  .side-bar {
    display: block !important;
  }
}
@keyframes slipDown {
  from {
    top: -62px;
    opacity: 0;
  }
  to {
    top: 1px;
    opacity: 1;
  }
}
footer {
  background-color: var(--footer-background-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.copyright-wrapper {
  height: 80px;
}
.copyright-wrapper .copyright-logo {
  display: flex;
  align-items: center;
}
.copyright-wrapper .copyright-logo img {
  width: 40px;
  height: 40px;
}
.copyright-wrapper .copyright-content {
  line-height: 80px;
  color: #a9b3bb;
}

.content-group .content-body {
  padding: 24px 24px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.add-hostel-form .main-title {
  text-align: left;
  color: rgb(15, 87, 255);
}
.add-hostel-form .form-select .select-items {
  height: 30px;
}
.add-hostel-form .price-service-group .price-service-title {
  font-size: 2.2rem;
  margin-bottom: 16px;
}
.add-hostel-form .price-service-group .price-service-fill {
  height: 100%;
}
.add-hostel-form .price-service-group .price-service-fill .fill-group {
  display: flex;
  align-items: center;
}
.add-hostel-form .price-service-group .price-service-fill .fill-group .fill-label {
  width: 120px;
  margin-bottom: 0;
}
.add-hostel-form .price-service-group .price-service-fill .fill-group .fill-input {
  flex: 1;
  margin: 0;
}
.add-hostel-form .price-service-group .price-service-fill .fill-group .fill-unit {
  width: 56px;
  margin-left: 16px;
}
.add-hostel-form .price-service-group .price-service-fill .form-message {
  margin-top: 12px;
}
.add-hostel-form .add-hostel-action {
  display: flex;
  justify-content: space-between;
}
.add-hostel-form .add-hostel-action button {
  background-color: var(--primary-color);
  padding: 12px 16px;
}
.add-hostel-form .add-hostel-action button:hover {
  opacity: 0.8;
}
.add-hostel-form .add-hostel-action a {
  background-color: transparent;
  color: var(--error-color);
  border: 0.5px solid var(--error-color);
  padding: 12px 16px;
}
.add-hostel-form .add-hostel-action a:hover {
  color: var(--white-color);
  background-color: var(--error-color);
}

@media (max-width: 576px) {
  .content-group .content-history {
    font-size: 1.6rem;
  }

  .add-hostel-form .form-header .main-title {
    font-size: 2.6rem;
  }
  .add-hostel-form .form-group .form-label {
    font-size: 1.6rem;
  }
  .add-hostel-form .form-group .form-message {
    font-size: 1.4rem;
  }
  .add-hostel-form .add-hostel-action button,
.add-hostel-form .add-hostel-action a {
    font-size: 1.6rem;
    padding: 8px 12px;
  }
}

/*# sourceMappingURL=style.css.map */
