@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";


body {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  font-size: 18px;
}

.main-body {
  padding: 0px;
  margin: 0px;
}
.dashboard{
  display: block;
}
.dropdown{
  display: none;
}
.content {
  min-height: calc(100vh - 80px);
  width: 80%;
  margin: 0px;
  padding: 0px;
  position: relative;

  .title-table {
    font-weight: 550;
    font-size: 34px;
    margin: 40px 0px 10px 0px;
    text-align: center;
    height: 45px;

  }

  table {
    margin: 40px auto;
    width: 70%;
    text-align: center;
    font-size: 25px;

    tr {
      th {
        font-size: 24px;
        border: 1px solid black;
        font-weight: 500;
      }

      td {
        border: 1px solid black;
        font-size: 20px;

        .btnAction {
          width: 100%;
          text-decoration: none;
          background-color: #fff;
          color: blue;

        }
      }
    }
  }

  .modal-header {
    h5 {
      width: 100%;
      margin-left: 27px;
      text-align: center;
      font-size: 22px;
      color: #0022ff;
    }
  }
  .modal-body{
    line-height: 29px;
    font-size: 22px;
  }
  .modal-footer{
    button{
      background-color: #0003fd;
      color: #FFFFFF;
      width: 78px;
      height: 36px;
      font-size: 15px;
    }
  }
  .modal-content{
    padding: 5px 10px;
  }
}


@media screen  and (max-width: 1024px) {
  .content {
    width: 100%;
    padding: 0;
    min-height: calc(100vh - 80px);
    .table {
      width: 85%;
    }
  }
  .main-body{
  .dashboard{
    display: none;
  }
  }
  .dropdown{
    display: block;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}