@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

body{
  font-size: 20px;
  overflow-x: hidden;
}
.dashboard{
  display: block;
}
.dropdown{
  display: none;
}
.content {
  width: 80%;
margin: 0;
  min-height: calc(100vh - 80px);
  .hidden_notification{
    display: none;
  }
  .display_notification{
    position: absolute;
    display: inline-block;
    font-size: 18px;
    width: fit-content;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 4s linear forwards;
    right: 5px;
    top: 5px;
  }
  .progress{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #529bdb, #3250bf);
    border-radius: 4px;
    animation: progress 3s .25s linear forwards;
  }

  @keyframes fade{
    5%{
      opacity: 1;
      visibility: visible;
      transform: translate(0px);
    }
    90%{
      opacity: 1;
      transform: translateY(0px);
    }
    95%{
      opacity: 0;
    }
    100%{
      opacity: 0;
      transform: translateY(-30px);
    }
  }
  @keyframes progress{
    to{
      width: calc(100% - 10px);
    }
  }
  .profile {
    width: 50%;
    margin: 100px auto;
    padding:20px 30px 20px 30px;
    color: #000000;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid gray;

    h2 {
      margin-bottom: 10px;
      font-size: 1.6em;
      width: 100%;
      line-height: 40px;
      display: block;
      text-align: center;
    }

    h3 {
      text-align: left;
      margin: 5px;
      display: block;
      font-size: 24px;
      width: 100%;
      font-weight: 400;
      line-height: 40px;
      span{
        font-weight: 500;
      }
    }
    a{
      text-decoration: none;
      font-size: 22px;
      border-radius: 8px;
      width: 130px;
      background-color: blue;
      color: #FFFFFF;
      padding: 10px;
      line-height: 22px;
      margin: 15px auto;
      font-weight: 400;
      display: block;
      text-align: center;
    }
  }
}

@media screen  and (max-width: 1024px) {
  .content {
    width: 100%;
    padding: 0;
    min-height: calc(100vh - 80px);
    .profile {
      width: 80%;
    }
  }
  .dashboard{
    display: none;
  }
  .dropdown{
    display: block;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}