@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

body {
  overflow-x: hidden;
}
  .dashboard{
    display: block;
  }
  .dropdown{
    display: none;
  }
  .content {
    margin: 0;
    text-align: left;
    width: 80%;
    padding: 10px;
    min-height: calc(100vh - 80px);
    .contract-content {
      padding: 20px 40px;
      border: 1px solid black;
      width: 80%;
      margin: 60px auto;
      border-radius: 8px;
      height: fit-content;

      .contract-head {
        h4 {
          margin-bottom: 20px;
          text-align: center;
          font-size: 30px;
          font-weight: 550;
        }
      }

      .contract-body {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .owner-infor {
          text-align: left;

          p {
            margin-bottom: 30px;
            font-size: 25px;
            font-weight: 600;
          }
          strong{
            font-weight: 500;
          }
          h5 {
            font-size: 20px;
            font-weight: 400;
          }
        }

        .renter-infor {
          text-align: left;

          p {
            margin-bottom: 30px;
            font-size: 25px;
            font-weight: 600;
          }
          strong{
            font-weight: 500;
          }
          h5 {
            font-size: 20px;
            font-weight: 400;
          }
        }
      }

      .contract-result {
        p {
          margin-bottom: 30px;
          text-align: left;
          font-size: 25px;
          font-weight: 600;
        }
        strong{
          font-weight: 500;
        }
        h5 {
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
}
@media screen and (max-width: 1024px) {
  body {
    .content {
      width: 100%;
      padding: 0;
      min-height: calc(100vh - 80px);
    }

    .dashboard {
      display: none;
    }

    .dropdown {
      display: block;
      padding: 0;
      width: fit-content;
      height: fit-content;
    }
  }
}