@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

body{
  overflow-x: hidden;
}
.dropdown{
  display: none;
}

.content {
  width: 80%;
  margin: 0px;
  padding: 0px;
  min-height: 600px;

  .report {
    width: 40%;
    margin: 70px auto;
    padding: 50px 20px;
    text-align: center;
    h2 {
      color: #6A5Af9;
      text-align: center;
      font-size: 30px;
      font-weight: 550;
      margin-bottom: 10px;
    }
    p{
      font-size: 22px;
    }

  }

}

footer {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .dropdown{
    display: block;
  }
  .dashboard{
    display: none;
  }
  .navbar {
    height: 60px;

    .navbar-center {

      a {
        img {
          width: 100px;
          height: 30px;
        }
      }
    }

    .navbar-right {
      width: 20%;
      padding: 0px;

      a {
        font-size: 15px;

        img {
          display: none;
        }
      }
    }
  }

}