@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

body {
  font-size: 17px;
  overflow-x: hidden;
  min-height: calc(100vh - 80px);
}
.dashboard{
  display: block;
}
.dropdown{
  display: none;
}
.main-body {
  padding: 0;
  margin: 0;
}

.content {
  width: 80%;
  min-height: calc(100vh - 80px);
  display: grid;
  row-gap: 20px;
  padding: 30px 40px;

  .title {
    width: 100%;
    height: 50px;
    color: blue;
    text-align: center;
    font-size: 35px;
    line-height: 35px;
  }

  .main-information {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 13px;

    .content-top {
      height: fit-content;
      display: grid;
      column-gap: 10px;
      grid-template-columns: 1fr 1fr;

      .content-top-1 {
        p {
          font-size: 17px;
          margin-left: 20px;

          span {
            font-weight: 600;
          }
        }
      }

      .content-top-2 {
        p {
          font-size: 17px;
          margin-left: 20px;

          span {
            font-weight: 600;
          }
        }
      }
    }

    .content-bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;

      .content-bottom-1 {
        border-radius: 8px;
        border: 1px solid gray;
        padding: 10px 20px;

        h3 {
          font-weight: 500;
          text-align: center;
          font-size: 22px;
        }

        table {
          text-align: center;
        }
      }

      .content-bottom-2 {
        border-radius: 8px;
        border: 1px solid gray;
        padding: 10px 20px;

        h3 {
          font-weight: 500;
          text-align: center;
          font-size: 22px;
        }

        table {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .content{
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 80px);
    .title {
      width: 100%;
      height: 50px;
      color: blue;
      text-align: center;
      font-size: 35px;
      line-height: 35px;
      margin: 10px;
    }

    .main-information {
      border: 1px solid gray;
      border-radius: 4px;
      padding: 13px;
      margin: 10px;

      .content-top {
        height: fit-content;
        display: grid;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr;

        .content-top-1 {
          p {
            font-size: 17px;
            margin-left: 20px;

            span {
              font-weight: 600;
            }
          }
        }

        .content-top-2 {
          p {
            font-size: 17px;
            margin-left: 20px;

            span {
              font-weight: 600;
            }
          }
        }
      }

      .content-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

        .content-bottom-1 {
          border-radius: 8px;
          border: 1px solid gray;
          padding: 10px 20px;

          h3 {
            font-weight: 500;
            text-align: center;
            font-size: 22px;
          }

          table {
            text-align: center;
          }
        }

        .content-bottom-2 {
          border-radius: 8px;
          border: 1px solid gray;
          padding: 10px 20px;

          h3 {
            font-weight: 500;
            text-align: center;
            font-size: 22px;
          }

          table {
            text-align: center;
          }
        }
      }
    }
  }
  .dashboard{
    display: none;
  }
  .dropdown{
    display: block;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}