@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

.dropdown {
  display: none;
}

body {
  font-size: 20px;
  overflow-x: hidden;

  .content {

    text-align: center;
    margin: 50px 0px 0px 0px;
    width: 80%;
    padding: 10px;

    .contract-content {
      padding: 20px 40px;
      border: 1px solid #6A5Af9;
      width: 90%;
      margin: auto;

      .contract-head {
        h4 {
          text-align: center;
          font-size: 30px;
          color: #6A5Af9;
          font-weight: 550;
        }
      }

      .contract-body {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .owner-infor {
          text-align: center;

          p {
            font-size: 23px;
            font-weight: 550;
          }

          h5 {
            font-size: 20px;
            font-weight: 400;
          }
        }

        .renter-infor {
          text-align: center;

          p {
            font-size: 23px;
            font-weight: 550;
          }

          h5 {
            font-size: 20px;
            font-weight: 400;
          }
        }
      }

      .contract-result {
        p {
          text-align: center;
          font-size: 23px;
          font-weight: 550;
        }

        h5 {
          font-weight: 400;
          font-size: 20px;
        }
      }


    }
  }
}


@media screen and (min-width: 740px) and (max-width: 1024px) {
  body {
    .link {
      display: none;
    }

    .dropdown {
      display: block;
    }

    .dashboard {
      display: none;
    }

    .content {
      width: 100%;

      .contract-content {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .navbar {
    .navbar-center {
      img {
        width: 130px;
        height: 40px;
      }
    }

    .navbar-right {
      img {
        display: none;
      }

      a {

        font-size: 13px;
      }
    }
  }

  body {
    .link {
      display: none;
    }

    .dropdown {
      display: block;
    }

    .dashboard {
      display: none;
    }

    .content {
      padding: 10px;
      width: 100%;

      .contract-content {
        width: 100%;

        h2 {
          font-size: 23px;
        }

        h3 {
          font-size: 20px;
        }

        h4 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }

        h5 {
          font-size: 14px;
        }
      }
    }
  }
}