@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

body{
  overflow-x: hidden;
}
.dashboard{
  display: block;
}
.dropdown{
  display: none;
}
.content {
  width: 80%;
margin: 0;
  min-height: calc(100vh - 80px);
}

.notification {
  margin: 40px auto;
  width: 90%;
h1{
  font-size: 30px;
  margin-bottom: 20px;
  color: blue;
  text-align: center;
}
  table {
    font-size: 20px;
    width: 100%;
    margin: auto;
    tr{
      display: grid;
      grid-template-columns:1fr 2fr 8fr 2fr ;
      th{
        text-align: left;
        padding-left: 5px;
      }
      td{
        text-align: left;
        padding-left: 5px;
      }
    }
  }
  .dataTables_length{
    font-size: 20px;
  }
  .dataTables_filter{
    font-size: 20px;
  }
.dataTables_info{
  font-size: 20px;
}
  .dataTables_paginate{
    .paginate_button{
      font-size: 18px;
    }
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 740px) {
  .content{
    width: 100%;
    padding: 0;
    min-height: calc(100vh - 80px);
  }
  .main-body{
  .dashboard{
    display: none;
  }
  }
  .dropdown{
    display: block;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}