@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

body{
  overflow-x: hidden;
}
.content {
  width: 80%;
margin: 0;
  .profile-update {
    margin: 80px auto;
    width: 520px;
    height: 615px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 8px;

    h2 {
      font-size: 32px;
      text-align: center;
      margin: 20px 0px;

    }

    input {
      flex-grow: 1;
      display: inline-block;
      width: 100%;
      height: 50px;
      border-radius: 9px;
      background-color: #fff;
      color: #8f8b8b;
      font-size: 20px;
      margin: 4px auto;
      padding-left: 10px;
      text-align: center;
    }
    #input-7{
      width: 100%;
      height: 50px;
      border-radius: 9px;
      background-color: #fff;
      color: #8f8b8b;
      font-size: 20px;
      margin: 4px auto;
      padding-left: 10px;
      text-align: center;
      outline: none;
      border: none;
    }
    span {
      color: red;
      font-size: 15px;
      margin-left: 5px;
    }

    #submit-1 {
      width: 100%;
      height: 50px;
      border-radius: 9px;
      color: #ffffff;
      background-color: rgba(13, 0, 255, 0.8);
      font-size: 20px;
      margin: 4px auto;
    }

    #submit-1:hover {
      width: 100%;
      height: 50px;
      border-radius: 9px;
      color: #ffffff;
      background-color: rgba(13, 0, 255, 1.0);
      font-size: 20px;
      margin: 4px auto;
    }
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
}