@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

body {
  overflow-x: hidden;
}
.dashboard{
  display: block;
}
.dropdown{
  display: none;
}
.content {
  min-height: calc(100vh - 80px);
  width: 80%;
  margin: 0;
  padding: 0;
  background-color: #f4f4fb;

  .profile-update {
    margin: 40px auto;
    width: 520px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    flex-wrap: wrap;
    background-color: #fcfcfc;
    padding: 20px;
    border-radius: 4px;

    h2 {
      font-size: 32px;
      text-align: left;
      margin: 20px 0px;
      color: #0033ff;
    }

    label {
      font-size: 17px;
      color: #0046bd;
      margin: 12px 0 0 0;
    }

    input {
      flex-grow: 1;
      display: inline-block;
      width: 100%;
      height: 32px;
      border-radius: 4px;
      background-color: #fff;
      color: #000000;
      font-size: 20px;
      margin: 4px auto;
      padding-left: 10px;
      text-align: left;
      border: 1px solid #687692;
    }

    #form-item-input-7 {
      width: 100%;
      height: 32px;
      border-radius: 4px;
      background-color: #fff;
      color: #000000;
      font-size: 20px;
      margin: 4px auto;
      padding: 0 10px 0 10px;
      text-align: left;
      border: 1px solid #687692;
    }

    span {
      color: red;
      font-size: 15px;
      margin-left: 5px;
    }

    #submit-button{
      text-align: right;
      #submit-1 {
        width: fit-content;
        height: fit-content;
        border-radius: 4px;
        color: #ffffff;
        background-color: rgba(13, 0, 255, 0.8);
        font-size: 20px;
        text-align: center;
        padding: 6px 20px;
        margin: 4px auto;
      }

      #submit-1:hover {
        width: fit-content;
        height: fit-content;
        border-radius: 4px;
        color: #ffffff;
        background-color: rgba(13, 0, 255, 1.0);
        font-size: 20px;
        text-align: center;
        padding: 6px 20px;
        margin: 4px auto;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .content{
    width: 100%;
    padding: 0;
    min-height: calc(100vh - 80px);
  }
  .dashboard{
    display: none;
  }
  .dropdown{
    display: block;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}