@import "./_common-style/_navbar";
@import "./_common-style/_footer";
@import "./_common-style/_sidebar";

body{
  overflow-x: hidden;
}
.content {
  width: 80%;

}

.notification {
  margin: 10% auto;
  width: 90%;

  table {
    font-size: 20px;
    width: 100%;
    margin: auto;
    tr{
      display: grid;
      grid-template-columns:1fr 2fr 8fr 2fr ;
      th{
        text-align: left;
        padding-left: 5px;
      }
      td{
        text-align: left;
        padding-left: 5px;
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 740px) {
}