@import "../_common-style/navbar";
@import "../_common-style/sidebar";
@import "../_common-style/footer";

// Main css
.content-group {
  min-height: var(--min-body-height);
}

// Content body css
.service {
  padding: 16px 16px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  .service-header__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .service__title {
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 700;
  }
}

.dataTables_filter,
.dataTables_length {
  margin-bottom: 16px;
}
