.side-bar {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.12);

  .group-option.active {
    .group-option__link {
      color: var(--primary-color);
      background-color: #eaf5ff;
    }
  }
  .group-option__link {
    display: flex;
    height: 54px;
    width: 100%;
    align-items: center;
    color: #878787;
    margin: 16px 0;
    padding-left: 20px;
    background-color: transparent;

    &:nth-child(1) {
      margin-top: 0;
    }

    &:hover {
      color: var(--primary-color);
      background-color: #eaf5ff;
    }
  }
  .group-option__icon {
    font-size: 2rem;
    width: 40px;
  }
  .group-option__label {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

@media (max-width: 992px) {
  .side-bar {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: var(--white-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    top: 1px;
    left: 0;
    width: 100%;
    height: 272px;
    overflow: auto;
    border-right: 0;
    padding-top: 0px !important;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation: slipDown 0.2s linear;

    .group-option__link {
      margin: 0;
    }
  }
}

@media (min-width: 993px) {
  .side-bar {
    display: block !important;
  }
}

@keyframes slipDown {
  from {
    top: -62px;
    opacity: 0;
  }

  to {
    top: 1px;
    opacity: 1;
  }
}
