// Register navbar
.main-nav {
  height: var(--navbar-height);
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;

  // Logo
  .main-nav__logo {
    height: var(--navbar-height);
    display: flex;
    align-items: center;
  }

  .main-nav__logo-img {
    width: 132px;
  }

  // Title
  .main-nav__title {
    text-align: end;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
  }
}

// Content CSS
.register-content {
  min-height: var(--min-body-height);
}

// Turn back
.turn-back__link {
  font-size: 1.6rem;

  &:hover {
    color: var(--primary-color);
  }
}

// Register form
.verify-wrapper {
  background-color: var(--white-color);
  padding: 24px 24px;
  margin-top: 24px;
  border-radius: 6px;
  box-shadow: var(--box-shadow-border-model);
}

.form-title {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 500;
  text-align: center;
  color: var(--primary-color);
}

.form-subtitle {
  margin: 16px 0;
}

.form-submit {
  width: 100%;
  padding: 18px 12px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  border-radius: 6px;
  font-weight: 500;
  color: var(--white-color) !important;
  margin: 16px 0;
  background-color: #011f8a;

  &:hover {
    opacity: 0.9;
  }
}

.verify-notes_title {
  color: #ff0000;
  font-style: italic;
  margin-bottom: 8px;
}

// Footer
footer {
  background-color: var(--footer-background-color);
}

.copyright-wrapper {
  $copyright-height: 80px;
  height: $copyright-height;

  .copyright-content {
    line-height: $copyright-height;
    color: #a9b3bb;
  }
}
